<h1>Edit price menu</h1><br>

<%= form_with scope: :service, url: update_service_path, method: "patch", local: true do |form| %>

	<input type="hidden" name="service[salon_id]" value="<%= @salonId %>" />

	<% @services.each_with_index do |service, index| %>

		<%= service.name %>
		<input name="price<%= index %>" value=<%= service.price %>><br>


  <% end %>
	<p>
		<%= form.submit %>
	</p>

	<% end %>

	<%= link_to 'Back', salon_path %>