
<div class="container-fluid vertical-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card border-primary text-center" style="max-width: 20rem;">
				<div class="card-header">
					<h2>Edit price menu</h2>
				</div>
				<div class="card-body">

					<%= form_with scope: :service, url: update_service_path, method: "patch", local: true do |form| %>

					<input type="hidden" name="service[salon_id]" value="<%= @salonId %>" />

					<% @services.each_with_index do |service, index| %>

					<%= service.name %>
					<input name="price<%= index %>" value=<%= service.price %>><br>


					<% end %>
					<p>
						<%= form.submit %>
					</p>

					<% end %>

					<%= link_to 'Back', salon_path %>
				</div>
			</div>
		</div>
	</div>
</div>