<h1>Submit price menu</h1><br>

<%= form_with scope: :service, url: create_service_path, local: true do |form| %>

	<input type="hidden" name="service[salon_id]" value="<%= @salonId %>" />

<!-- <div>
	<%= form.label :select_service%>

	<%= select_tag(:name, raw('<option value="Cut & Wash">Cut & Wash</option><option value="Colour">Colour</option><option value="Perm">Perm</option><option value="Rebonding">Rebonding</option><option value="Treatment">Treatment</option>')) %>

		<%= form.label :price%>
		<%= form.text_field :price %>
</div>
 -->

<!-- using input instead of dropdown  -->
	<div>
		<input name="serviceOne" value="Cut and Wash" readonly />
		<input name="priceOne"/>
	</div>

	<div>
		<input name="serviceTwo" value="Colour" readonly />
		<input name="priceTwo"/>
	</div>

	<div>
		<input name="serviceThree" value="Perm" readonly />
		<input name="priceThree"/>
	</div>

	<div>
		<input name="serviceFour" value="Rebonding" readonly />
		<input name="priceFour"/>
	</div>

	<div>
		<input name="serviceFive" value="Treatment" readonly />
		<input name="priceFive"/>
	</div>

	<p>
		<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Salons', salon_path %>