


<div class="container-fluid">
  <div class="row">
  	<div class= "col-md-12 p-0">
		<div class= "indexBanner"></div>
			<p class= "indexSlogan">Make it worth <br/> their <span class="stares">Stares</span></p>
		</div>
	</div>
</div>

<div class ="row" id="shiftRow">
	<div class="col-md-6 offset-md-3" id="alignSearch">
		<div class="container-fluid">
  		<div class="row">
  			<div class= "col-sm-8 p-0" id="heightAdjustment">
  				<form>
  					<div class="form-group">
      				<input type="search" class="form-control" id="input1" placeholder="Search for services or salon">
    				</div>
  				</form>

  			</div>
  			<div class= "col-sm-4 p-0">
  				<form>
  					<button type="submit" class="btn btn-danger" id="submit_btn">Search</button>
  				</form>
  			</div>
  		</div>
  	</div>
	</div>
</div>



<% if defined? @salons.first.detail != nil %>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">phone</th>
          <th scope="col">address</th>
          <th scope="col">area</th>
          <th scope="col">website</th>
          <th scope="col">logo url</th>
        </tr>
      </thead>
      <tbody>
      <% @salons.each do |salon| %>
        <tr>
          <td><%= salon.detail.name %></td>
          <td class="salon-title"><%= salon.detail.phone %></td>
          <td><%= salon.detail.address %></td>
          <td><%= salon.detail.area %></td>
          <td><%= salon.detail.website %></td>
          <td><%= salon.detail.logo_url %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>




<% end %>