


<div class="container-fluid p-0">
  <div class="row">
  	<div class= "col-md-12 p-0">
  		<div class ="overlay">
  		</div>

		<div class= "indexBanner">
			<p class= "indexSlogan">looking for your next hair cut?</p>
			<p class ="indexSloganTag">We are your one stop solution for all your hair needs</p>
		</div>

		</div>
	</div>
</div>

<div class ="row" id="shiftRow">
	<div class="col-md-6 offset-md-3 w-100" id="alignSearch">
		<div class="container-fluid">
	  		<%= form_with(url: search_path, method: "get", local: true, :class => 'form-group row') do %>
  				<%= content_tag :div, class: 'col-sm-8 p-0', id: 'heightAdjustment' do %>
						<%= text_field_tag :search, "", :class => 'form-control', :id => 'input1', :placeholder => 'Search for services or salon' %>
					<% end %>
					<%= content_tag :div, class: 'col-sm-4 p-0' do %>
						<%= submit_tag 'Search', :class => 'btn btn-danger', :id => 'submit_btn' %>
					<% end %>
				<% end %>
		</div>
	</div>
</div>

<div class= "discover">
	<p>Discover new salons</p>
</div>


<% if defined? @salons.first != nil %>
<div class="container">
  <div class="row">


<div class="container w-100" id="cardWrapper">
  <div class="row">
  	<% @salons.each do |salon| %>
  	<div class="col-lg-4 col-sm-6" id="indexCardMargin">
  		<a href ="/salons/<%=salon.id%>/appointments" class="aTag">
  		<div class="card">
  			<div class ="cardImage">
  				<img src= "<%=salon.logo_url%>" class="card-img-top cardImage" alt="...">
  			</div>
  			</a>
 					 <div class="card-body">
    					<p class="card-text"><%= salon.name %></p>
  					</div>
			</div>
  	</div>
    <% end %>
  </div>
</div>


<% end %>