

<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card border-primary text-center ">
				<div class="card-header">
					<h2>Register</h2>
				</div>
				<div class="card-body">

					<%= form_with  url: create_salon_path, local: true, class: 'newform' do |form| %>
					<div class="form-group">
						<%= form.label :name, :class => 'form-control' %><br>
						<%= form.text_field :name, :class => 'form-text text-muted' %>
					</div>
					<div class="form-group">
						<%= form.label :phone, :class => 'form-control' %><br>
						<%= form.text_field :phone, :class => 'form-text text-muted' %>
					</div>
					<div class="form-group">
						<%= form.label :address, :class => 'form-control' %><br>
						<%= form.text_field :address, :class => 'form-text text-muted' %>
					</div>
					<div class="form-group">
						<%= form.label :area, :class => 'form-control' %><br>
						<%= form.text_field :area, :class => 'form-text text-muted' %>
					</div>
					<div class="form-group">
						<%= form.label :website, :class => 'form-control' %><br>
						<%= form.text_field :website, :class => 'form-text text-muted' %>
					</div>
					<div class="form-group">
						<%= form.label :logo_url, :class => 'form-control' %><br>
						<%= form.text_field :logo_url, :class => 'form-text text-muted' %>
					</div>

					<%= form.submit 'Save', :class => 'btn btn-primary' %>
					<% end %>
					<%= link_to 'Back', salons_path, :class => 'btn btn-link' %>

				</div>
			</div>
		</div>
	</div>
</div>