
<% if @services.present? %>
<div class ="container">
	<div class ="row">
		<div class="col">
			<div class ="searchHeader">Search Results with <%= @input %>
			</div>
		</div>
	</div>
</div>
<!-- 	<p>Salons with the service: <%= @services.first.name %></p> -->
<div class ="container">
	<div class ="row">
		<div class = "col-8 offset-2">
			<ul class="list-group">
				<% @services.each do |svc| %>
				<!-- generate list with name, picture and address -->
  				<li class="list-group-item" id="listSpace">
  					<a href ="/salons/<%=svc.salon.id%>/appointments" id="tag">
  						<div class ="container">
								<div class ="row">
									<div class = "col-lg-4 col-sm  w-100 p-1" id="resultImgBorder">
										<img src= "<%=svc.salon.detail.logo_url%>" class="card-img-top" id ="resultImg" alt="...">
									</div>
									<div class = "col-lg-8 col-sm w-100" id="resultList">
										<p class ="resultSalon"><%= svc.salon.detail.name %></p>
										<p class ="mobileNone"><%= svc.salon.detail.phone %></p>
										<p class ="mobileNone"><%= svc.salon.detail.address %></p>
									</div>
								</div>
							</div>
						</a>
  				</li>
  			<% end %>
			</ul>
		</div>
	</div>
</div>

<% elsif @details.present?%>
<div class ="container">
	<div class ="row">
		<div class="col">
			<div class ="searchHeader">Search Results with <%= @input %>
			</div>
		</div>
	</div>
</div>
<div class ="container">
	<div class ="row">
		<div class = "col-8 offset-2">
			<ul class="list-group">
				<% @details.each do |detail| %>
				<!-- generate list with name, picture and address -->
  				<li class="list-group-item" id="listSpace">
  					<a href ="/salons/<%=detail.salon.id%>/appointments" id="tag">
  						<div class ="container">
								<div class ="row">
									<div class = "col-lg-4 col-sm  w-100 p-1" id="resultImgBorder">
										<img src= "<%=detail.logo_url%>" class="card-img-top" id ="resultImg" alt="...">
									</div>
									<div class = "col-lg-8 col-sm w-100" id="resultList">
										<p class ="resultSalon"><%= detail.name %></p>
										<p class ="mobileNone"><%= detail.phone %></p>
										<p class ="mobileNone"><%= detail.address %></p>
									</div>
								</div>
							</div>
						</a>
  				</li>
  			<% end %>
			</ul>
		</div>
	</div>
</div>
<% else %>
	<h1 class ="noResult">Sorry, could not find salons that match your query.</h1>
<% end %>