

<p>You searched: <%= @input %></p>
<% if @services.present? %>
	<p>Salons with the service: <%= @services.first.name %></p>
	<div class="container">
	  <div class="row">
	  	<% @services.each do |svc| %>
	  	<div class="col-4">
	  		<a href ="/salons/<%=svc.salon.id%>/appointments" class="aTag">
	  		<div class="card">
	  			<div class ="cardImage">
	  				<img src= "<%=svc.salon.detail.logo_url%>" class="card-img-top cardImage" alt="...">
	  			</div>
	  			</a>
	 					<div class="card-body">
	    				<p class="card-text"><%= svc.salon.detail.name %></p>
	  				</div>
				</div>
	  	</div>
	    <% end %>
	  </div>
	</div>
<% else %>
	<h1>Could not find salons that offer that service.</h1>
<% end %>