<p>Name: <%= @salon.detail.name %></p>
<p>Phone: <%= @salon.detail.phone %></p>
<p>Address: <%= @salon.detail.address %></p>
<p>Area: <%= @salon.detail.area %></p>
<p>Website: <%= @salon.detail.website %></p>
<p>Logo URL: <%= @salon.detail.logo_url %></p>

<%= link_to 'Back', salons_path, :class => 'btn btn-link' %>