<p><%= detail.name %></p>
<p><%= detail.phone %></p>
<p><%= detail.address %></p>
<p><%= detail.area %></p>
<p><%= detail.website %></p>
<p><%= detail.logo_url %></p>

<%= link_to 'Back', salons_path, :class => 'btn btn-link' %>