<div class="container">
	<div class="row">
		<div class="col-lg bg-dark">
			<div class="row">
				<div class="col-lg-3">
					<div class="vertical-center">
						<img class="img-fluid rounded-circle bg-info" src='<%= @salon.detail.logo_url %>' alt='logo'>
					</div>
				</div>
				<div class="col-lg">
					<p>Name: <%= @salon.detail.name %></p>
					<p>Phone: <%= @salon.detail.phone %></p>
					<p>Address: <%= @salon.detail.address %></p>
					<p>Area: <%= @salon.detail.area %></p>
					<p>Website: <%= @salon.detail.website %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 bg-danger">
			<div class="container-fluid d-flex">
				<h3 class="mr-auto">appointments</h3>


			</div>

			<% if @appointments.blank? %>
				<%= 'No appointments yet' %>

			<% elsif %>
			<ul class="list-group">
				<% @salon.appointments.each do |a| %>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<%= a.name %>
					<span class="badge badge-primary badge-pill">14</span>
				</li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<div class="col-lg-6 bg-success">
			<div class="container-fluid d-flex">
				<h3 class="mr-auto">services</h3>

			</div>

			<% if @services.blank? %>
				<%= link_to 'Edit services', new_service_path %>

			<% elsif %>
				<ul class="list-group">
					<% @salon.services.each do |s| %>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<%= s.name %>
						<span class="badge badge-primary badge-pill">14</span>
					</li>
					<% end %>
				</ul>
			<% end %>
		</div>

	</div>
</div>


<% if @photos.blank? %>
				<%= link_to 'Upload photos', new_photo_path %>

			<% elsif %>
<% @photos.each do |photo| %>
	<%= image_tag(photo.photo_url) %>
	<%= link_to 'Delete photo', destroy_photo_path(:photo_id => photo.id, :salon_id => @salon.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>