<p>EDIT APPT PAGE</p>

<%= form_with scope: :appointment, url: update_appointment_path(:salon_id => @salon.id, :appt_id => @appointment.id), method: "patch", local: true do |form| %>
  <div class="form-group">
    <%= form.label :name, :class => 'form-control' %><br>
    <%= form.text_field :name, :class => 'form-text text-muted' %>
  </div>
  <div class="form-group">
    <%= form.label :phone, :class => 'form-control' %><br>
    <%= form.text_field :phone, :class => 'form-text text-muted' %>
  </div>
  <div class="form-group">
    <%= form.label :email, :class => 'form-control' %><br>
    <%= form.text_field :email, :class => 'form-text text-muted' %>
  </div>

  <div class="form-group">
   <!--  <%= form.label :date, :class => 'form-control' %><br>
    <%= form.date_field :date, :class => 'form-text text-muted' %> -->
    <%= form.label :date, :class => 'form-control' %><br>
    <%= form.date_select :date %>
  </div>

  <div class="form-group">
   <!--  <%= form.label :timeslot, :class => 'form-control' %><br>
    <%= form.time_field :timeslot, :class => 'form-text text-muted' %> -->
    <%= form.label :timeslot, :class => 'form-control' %><br>
		<%= form.collection_select :timeslot_id, @timeslots, :id, :time %>
  </div>
  <% if @services %>
  	<%= form.collection_select :service_id, @services, :id, :name %><br>
  	<% else %>
  	<p>Checkbox placeholder: no services yet</p><br>
  <% end %>

    <%= form.submit 'Save', :class => 'btn btn-primary' %>

<% end %>

<%= link_to 'Back', appointments_path %>