<div class="container">
	<div class="row">
		<div class="col-lg bg-dark">
			<div class="row">
				<div class="col-lg-3">
					<div class="vertical-center">
						<img class="img-fluid rounded-circle bg-info" src='<%= @salon.detail.logo_url %>' alt='logo'>
					</div>
				</div>
				<div class="col-lg">
					<p>Name: <%= @salon.detail.name %></p>
					<p>Phone: <%= @salon.detail.phone %></p>
					<p>Address: <%= @salon.detail.address %></p>
					<p>Area: <%= @salon.detail.area %></p>
					<>Website: <%= @salon.detail.website %></p>
				</div>
			</div>
		</div>
	</div>
</div>


<h5>Services</h5><br>

<table>
	<tr>
		<th>Service</th>
		<th>Price</th>
	</tr>

	<% @services.each do |service| %>
		<tr>
			<td><%= service.name %></td>
			<td><%= service.price %></td>
		</tr>
	<% end %>
</table><br>

<% @photos.each do |photo| %>
	<%= image_tag(photo.photo_url) %>

<% end %><br>


<% if @appointments %>
	<% @appointments.each do |appt| %>
		<p>Name: appt.name</p>
		<p>Phone: appt.phone</p>
		<p>Email: appt.email</p>
		<p>Date: appt.date</p>
		<p>Timeslot: appt.timeslot</p>
		<p>Placeholder for services</p>

	<% end %>
<% else %>
	<p>Placeholder: no appts yet!</p>
<% end %>