<div class="container w-100">
	<div class="row">
		<div class="col-8 offset-2">
			<!-- carousel -->
			<div class="salonName">
				<p><%= @salon.detail.name %></p>
		  </div>

		  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  			<div class="carousel-inner">
					<div class="carousel-item active">
      			<img src="<%= @photos.first.photo_url%>" class="d-block w-100" alt="...">
    			</div>
					<% @photos.each do |photo| %>
					<div class="carousel-item">
      			<img src="<%=photo.photo_url%>" class="d-block w-100 image-fluid" alt="...">
    			</div>
    			<% end %>
   			</div>
  			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  				<div id ="previousBtn">
  					<div class ="arrow">
    					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    					<span class="sr-only">Previous</span>
    				</div>
    			</div>
  			</a>

  			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  				<div id ="nextBtn">
  					<div class ="arrow">
    					<span class="carousel-control-next-icon" aria-hidden="true"></span>
    					<span class="sr-only">Next</span>
    				</div>
    			</div>
  			</a>
			</div>
		</div>
	</div>
</div>

<div class="container menu">
	<div class="row">
		<div class="col-8 offset-2">
<!-- nav tabs -->
			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  			<li class="nav-item">
    			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Services</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Appointment</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
  			</li>
			</ul>
<!-- service and price -->
		<div class="tab-content" id="myTabContent">
  		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  			<table class="table table-hover">
  				<tbody>
  					<% @services.each do |service| %>
    				<tr>
    						<td>
    							<p><%= service.name %>
    							</p>
    						</td>
      					<td>
      						<p> SGD <%= service.price %> </p>
      					</td>
    				</tr>
    				<% end %>
    			</tbody>
				</table>
  		</div>
<!-- appointment tab -->
  		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  			<p class="instructions">Fill in your details below to book an appointment</p>
  				<%= form_with scope: :appointment, url: create_appointment_path, local: true, class: 'newform' do |form| %>
      		<div class="form-group" id="appt">
      			<p><%= form.label :name %></p>
    				<p><%= form.text_field :name, :class => 'form-text  apptForm', :placeholder =>  'e.g. George', :required => true %></p>
 					</div>
 					<div class="form-group" id="appt">
 						<p><%= form.label :phone %></p>
    				<p><%= form.text_field :phone, :class => 'form-text  apptForm', :placeholder =>  'Contact number', :required => true %></p>
  				</div>
  				<div class="form-group" id="appt">
  					<p><%= form.label :email %></p>
    				<p><%= form.text_field :email, :class => 'form-text apptForm',  :placeholder =>  'e.g. george@gmail.com', :required => true %></p>
  				</div>
  				<div class="form-group" id="appt">
  					<p><%= form.label :date %></p>
    				<p><%= form.date_field :date_of_visit, :required => true%></p>
  				</div>
  				<div class="form-group" id="appt">
  					<p><%= form.label :time %> </p>
						<p><%= form.collection_select :timeslot_id, @timeslots, :id, :time %></p>
					</div>
					<div class="form-group" id="appt">
						<p><%= form.label :service %></p>
						<p><%= form.collection_select :service_id, @services, :id, :name %></p>
					</div>
        		<%= form.submit 'Book Appointment', :class => 'btn btn-primary' %>
      	<% end %>
				</div>
<!-- salon contact  -->
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<p class ="profileSalon"><%= @salon.detail.name %></p>
  				<p><%= @salon.detail.phone %></p>
					<p><%= @salon.detail.address %></p>
					<%= link_to @salon.detail.website, "#{@salon.detail.website}", :target => "_blank" %>
				</div>

					<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews">
						<div id="star-rating">

              <% if @ratings.blank? %>
		            <p>No ratings yet. Be the first to review this salon!</p>
	             <% elsif %>
<!-- show aggregated star ratings -->
		        <span class ="overallRating">Overall Rating </span>
		        <% @avrating.round.to_i.times do %>
 			        <img src="/images/star.png" width="16px" height="16px">
		          <% end %>
		          <% (5-@avrating.round).to_i.times do %>
 			      <img src="/images/empty-star.png" width="16px" height="16px">
		      <% end %>
	      <% end%>
	      <br>
	      <!-- Button trigger modal -->
	      <div class ="btn btn-link ratingBtn" data-toggle="modal" data-target="#exampleModalScrollable">write a review</div>
        <!-- Modal -->
				<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  				<div class="modal-dialog modal-dialog-scrollable" role="document">
    				<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title" id="exampleModalScrollableTitle">write a review</h5>
        					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
        					</button>
      				</div>
      				<!-- review form -->
      			<div class="modal-body">
        			<%= form_with scope: :rating, url: create_rating_path, local: true do |form| %>
								<p>
									<%= form.label :name %><br>
									<%= form.text_field :name ,:required => true %>
								</p>
								<p>
									<%= form.label :email %><br>
									<%= form.text_field :email, :required => true %>
								</p>
								<p>
									<%= form.label :date_of_visit %><br>
									<%= form.date_field :date_of_visit%>
								</p>
								<p>Select service used</p>
									<%= form.collection_select :service_id, @services, :id, :name %>
								<p> <br>
									<%= form.label :rating %><br>
									<% 5.times.each_with_index do |index| %>
 										<%= image_tag("/images/empty-star.png", size: "16x16", id: "change-image#{index}")%>
									<% end %>
									<%= form.hidden_field :rating %>
									</p>
									<p>
										<%= form.label :review %><br>
										<%= form.text_area :review, placeholder: 'Optional' %>
									</p>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        				<p>
									<%= form.submit 'Submit review', :class => 'btn btn-primary'%>
								</p>
						<% end %>
      		</div>
    		</div>
  		</div>
		</div>
<!-- display past review -->
        			<ul class="list-group">
        				<% @ratings.each do |rating| %>
<!--         				displays only if there is customer review -->
        					<% if !rating.review.blank? %>
  									<li class="list-group-item d-flex justify-content-between align-items-center" id="reviews-list">
    								<%= rating.review %> <br>
    								- <%= rating.name %>
  									</li>
  								<% end %>
  							<% end %>
							</ul>
						</div>
				</div>
		</div>
	</div>
</div>