<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="salonName">
				<p><%= @salon.detail.name %></p>
		  </div>
		  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  			<div class="carousel-inner">
					<% @photos.each do |photo| %>
					<div class="carousel-item active">
      			<img src="<%=photo.photo_url%>" class="d-block w-100" alt="...">
    			</div>
   			</div>
				<% end %>

  			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  				<div id ="previousBtn">
  					<div class ="arrow">
    				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    				<span class="sr-only">Previous</span>
    			</div>
    			</div>
  			</a>



  			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  				<div id ="nextBtn">
  					<div class ="arrow">
    				<span class="carousel-control-next-icon" aria-hidden="true"></span>
    				<span class="sr-only">Next</span>
    			</div>
    			</div>
  		</a>
		</div>
		</div>
	</div>
</div>

<div class="container menu">
	<div class="row">
		<div class="col-6 offset-3">

			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  			<li class="nav-item">
    			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Services</a>
  			</li>

  			<li class="nav-item">
    			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contact</a>
  			</li>
			</ul>

		<div class="tab-content" id="myTabContent">
  		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

  			<table class="table  table-hover">
  <thead>
    <tr>
    	  <th scope="col">Services</th>
      <th scope="col">Price</th>
         </tr>
  </thead>

  <tbody>
    <tr>
    	<% @services.each do |service| %>
    	<td> <%= service.name %></td>
      <td> SGD <%= service.price %></td>
    </tr>
    <% end %>
    </tbody>

</table>







  		</div>
  		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  				<p class ="profileSalon"><%= @salon.detail.name %></p>
  				<p>Phone: <%= @salon.detail.phone %></p>
					<p>Address: <%= @salon.detail.address %></p>
					<p>Area: <%= @salon.detail.area %></p>
					<p>Website: <%= @salon.detail.website %></p>
  		</div>
			</div>
		</div>
	</div>
</div>






<% if @appointments %>
	<% @appointments.each do |appt| %>
		<p>Name: appt.name</p>
		<p>Phone: appt.phone</p>
		<p>Email: appt.email</p>
		<p>Date: appt.date</p>
		<p>Timeslot: appt.timeslot</p>
		<p>Placeholder for services</p>

	<% end %>
<% else %>

<% end %>