<div class="card border-primary my-3 w-100 h-100" id="appointmentDashboard">
	<div class="card-header d-flex">
		<h3 class="mr-auto">appointments</h3>
	</div>

	<div class="card-body">
		<% if @appointments.blank? %>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			No appointments currently
			<span class="badge badge-primary badge-pill">14</span>
		</li>
		<% elsif %>

		<!-- all appointments -->
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="card-title d-flex justify-content-between align-items-center">
					<a role="button" href="" class="btn" data-toggle="collapse" data-target="#collapseAll"><h5 class="mb-0 text-dark"> All </h5></a>
				</div>

				<div id="collapseAll" class="panel-collapse collapse">
					<ul class="list-group">
						<% @salon.appointments.each do |a| %>
						<li class="list-group-item d-flex justify-content-between align-items-center adjustPadding">
							<div class ="container">
								<div class ="row">
									<div class ="col-4">
										<%= a.name %>
									</div>
									<div class ="col-4">
										<p><%=a.service.name=%></p>
									</div>
									<div class ="col-4">
										<p> <%=a.timeslot.time=%>:00 ~<%= a.timeslot.time.to_i + 1 %>:00</p>
									</div>
								</div>
							</div>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>

		<!-- upcoming appointments -->
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="card-title d-flex justify-content-between align-items-center">
					<a role="button" href="" class="btn" data-toggle="collapse" data-target="#collapseUpcoming"><h5 class="mb-0 text-dark"> Upcoming</h5></a>
				</div>

				<div id="collapseUpcoming" class="panel-collapse collapse">
					<ul class="list-group">
						<% @upcoming_appointments.each do |a| %>
						<li class="list-group-item d-flex justify-content-between align-items-center adjustPadding">
							<div class ="container">
								<div class ="row">
									<div class ="col-4">
										<%= a.name %>
									</div>
									<div class ="col-3">
										<p><%=a.service.name=%></p>
									</div>
									<div class ="col-2">
										<p> <%=a.timeslot.time=%>:00</p>
									</div>
									<div class ="col-3">
										<p> <%=a.date=%></p>
									</div>
								</div>
							</div>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<!-- Past appointments -->
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="card-title d-flex justify-content-between align-items-center">
					<a role="button" href="" class="btn" data-toggle="collapse" data-target="#collapsePast"><h5 class="mb-0 text-dark"> Past </h5></a>
				</div>

				<div id="collapsePast" class="panel-collapse collapse">
					<ul class="list-group">
						<% @past_appointments.each do |a| %>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<%= a.name %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>