<p>TIMESLOTS PAGE of <%= @salon.email %></p>



<%= text_field_tag 'salon_id', @salon.id, :hidden => true, id: 'salon_id' %>


<%= month_calendar do |date| %>
  <p class="calendar-day"><%= date %></p>
<% end %>


<% @timeslots.each do |slot| %>
	<p><%= slot.time %></p>
<% end  %>

<p>available</p>
<% @available.each do |slot| %>
	<p><%= slot.time %></p>
<% end  %>

<p>unavailable</p>
<% @unavailable.each do |slot| %>
	<p><%= slot.time %></p>
<% end  %>